; Upload scoped packages to the GitHub package registry.
; NODE_AUTH_TOKEN should be set to ${{ secrets.GITHUB_TOKEN }} in the GHA workflow, and
; the workflow permissions should include 'packages: write'.
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@a-forsythe:registry=https://npm.pkg.github.com
always-auth=true
